{{outlet}}
<p>This website will compare the USC Bookstore prices with Ebay.</p>
<p>Start by clicking department on left sidebar. Once you have selected your Department, select a course. After selecting a course, select your session. When you select the session, you will see a list of books for that session.</p>