{{outlet}}
{{!model--}}
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  
{{#each model as |building index|}}
  <button type="button" class="btn btn-default"> {{building}}</button>
   
   

{{/each}}
</div>
